.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
}

.label {
  margin: 0 0 5px;
  font-size: 12px;
}

.input {
  display: block;
  width: 100%;
  padding: 11px 40px;
  border: none;
  border-radius: 7px;
  outline: none;

  &::placeholder {
    color: rgb(40 40 40 / 50%);
  }
}

.search {
  background-image: var(--search-icon);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: right;
  background-position-x: 97%;
}

.textarea {
  resize: none;
}

.errorWrapper {
  color: var(--color-button-background);
  min-height: 18px;
  margin-top: 5px;
}
