.container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerUserNotFound {
  width: 100%;
  margin-top: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 15px;
  }
}

