.container {
  width: 100%;
  padding: 50px 400px 0px 400px;
  display: flex;
  flex-direction: column;

  .notificationsHeader {
    display: flex;
    color: #8b8b8b;
    font-size: 18px;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 10px;

    .checkBoxTitle {
      margin-left: 10px;
    }
  }
}
