.container {
  width: 100%;
  padding: 50px 400px 0px 400px;
  display: flex;
  flex-direction: column;
}

.containerUserNotFound {
  width: 100%;
  margin-top: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
