.button {
  box-sizing: border-box;
  min-width: 42px;
  padding: 12px 22px;
  border-radius: 7px;
  border: 1px solid var(--color-button-background);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
}

.primary {
  background-color: var(--color-button-background);
  color: #ffffff;

  &:hover {
    background-color: var(--color-primary-ligth);
    color: var(--color-button-background);
  }
}

.light {
  background-color: var(--color-primary-ligth);
  color: var(--color-button-background);

  &:hover {
    background-color: var(--color-button-background);
    color: #ffffff;
  }
}

