.table {
  width: 100%;
  border-spacing: 0;
  th {
    text-align: left;
    padding: 15px 0 30px;
    align-items: center;
    span {
      color: var(--color-primary-dark);
      opacity: 0.5;
    }
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      text-align: right;
      padding-right: 15px;
    }
    .sortIndicator{
      display: inline-block;
      width: 26px;
      height: 12px;
      background-position: center;
      background-size: cover;
    }

    .desc {
      background-image: url("../../../assets/img/arrow-up.svg");
    }

    .asc {
      background-image: url("../../../assets/img/arrow-down.svg");
    }
  }
  td {
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      text-align: right;
      padding-right: 15px;
    }
    a {
      text-decoration: none;
      color: var(--color-primary-dark);
      width: 100%;
      display: inline-block;
      &:hover {
        color: var(--color-link-active);
      }
    }
  }
}
