.podcast {
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.content {
  display: flex;
  min-height: 375px;
  padding: 55px 75px;
  position: relative;
}

.podcastInfoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 0.8;
}

.title {
  margin: 0;
  color: var(--color-button-background);
}

.type {
  font-size: 16px;
}

.description {
  font-size: 18px;
  margin: 0;
}

.imageContainer {
  flex-grow: 0.2;
}

.coverWrapper {
  position: absolute;

  left: 0;
  top: 0;

  z-index: -1;

  & div {
    background-color: #989ea6;
  }

  & span {
    left: 80%;
    top: calc(50%);

    font-size: 120px;
    color: #3e4752;
    opacity: 0.1;
  }
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.placeholder {
  font-weight: 600;
  color: var(--color-header-background);
}
