.podcast {
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.content {
  display: flex;
}

.podcastInfoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 0.8;
}

.title {
  margin: 0;
  color: var(--color-button-background);
}

.type {
  font-size: 16px;
}

.description {
  font-size: 18px;
  margin: 0;
}

.imageContainer {
  flex-grow: 0.2;
}

.wrapper {
  width: 280px;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &:before {
    background-image: url('../../assets/img/corner.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 0 0;
    content: '';
    pointer-events: none;
    position: absolute;
    margin: 1px 0 36px 1px;
    padding-bottom: 36px;
    width: 100%;
    transition: transform 0.2s ease, background-size 0.5s 0.15s ease;
    z-index: 20;
    height: 280px;
  }

  .imageWrapper {
    height: 280px;
    width: 280px;

    margin: 0 0 10px;
    position: relative;

    font-size: 110px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease;

    &::before {
      display: block;
      content: '';

      width: 100%;
      height: 100%;

      position: absolute;

      outline: 10px solid rgba(134, 134, 134, 0.55);
      outline-offset: -10px;

      z-index: 15;
      transition: inherit;
    }
  }

  &:hover {
    &:before {
      background-size: 36px 36px;
      transform: translateY(-8px);
    }

    & .imageWrapper {
      transform: translateY(-8px);

      &::before {
        outline: 10px solid rgba(134, 134, 134, 0.71);
      }
    }
  }
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.podcastImage {
  height: 100%;
  object-fit: cover;
}

.placeholder {
  font-weight: 600;
  color: var(--color-header-background);
}
