.podcast {
  flex-grow: 1;
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.content {
  display: flex;
}

.descriptionWrapper {
  flex-grow: 2;
}

.title {
  margin: 0;
  color: var(--color-button-background);
}

.description {
  font-size: 18px;
  margin: 0;
}

.wrapper {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  position: relative;

  &:before {
    background-image: url('../../assets/img/corner.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 0 0;
    content: '';
    pointer-events: none;
    position: absolute;
    margin: -1px 0 -36px 1px;
    padding-bottom: 36px;
    width: 100%;
    transition: transform 0.5s ease, background-size 0.5s 0.15s ease;
    z-index: 20;
  }

  .imageWrapper {
    margin: 0 0 10px;
    border-radius: 5px;
    outline: 10px solid rgba(134, 134, 134, 0.55);
    outline-offset: -10px;
    transition: transform 0.2s ease;
    height: 280px;
  }

  &:hover {
    &:before {
      background-size: 36px 36px;
      transform: translateY(-8px);
    }

    .imageWrapper {
      outline: 10px solid rgba(134, 134, 134, 0.71);
      transform: translateY(-8px);
    }
  }
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.podcastImage {
  height: 100%;
}
