.form {
  flex-grow: 1;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  gap: 15px;

  .btnsWrapper{
    display: flex;
    flex-direction: row;
    .btnSave{
      margin-right: 15px;
    }
    .btnSave,
    .btnCancel{
      max-width: 193px;
      width: 100%;
    }
  }
}
