.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 250px;
}

.headerText {
  display: block;
  font-size: 108px;
  font-weight: 600;
  line-height: 90px;
}

.descriptionText {
  display: block;
  font-size: 50px;
  font-weight: 600;
}

.copyRight {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.copyRight img {
  margin-bottom: 5px;
}
