.commentsWrapper {
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border-top: 1px solid rgba(53, 53, 53, 0.3);
}
