# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
backend/build
frontend/build
shared/build

# shared
backend/shared
frontend/shared

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
