.button {
  width: 25px;
  height: 25px;
  background-image: url("../../../../../../assets/img/trash-bucket.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-right: 36px;
}
