.rowWrapper {
  padding: 5px;
  background-color: #00000000;
  border: none;
  text-align: left;
  max-width: 200px;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.time {
  color: var(--color-link-active);
  font-weight: bold;
  font-size: 16px;
  flex-grow: 0.2;
  transition: all 1s ease;
  margin-right: 5px;
}

.noteName {
  font-size: 14px;
  flex-grow: 0.8;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 1s ease;
  color: var(--color-primary-light);
}

.rowWrapper:hover .noteName {
  color: var(--color-link-active);
}

@media screen and (max-width: 768px) {
  .rowWrapper {
    max-width: 100%;
  }
  .time {
    font-size: 14px;
  }

  .noteName {
    font-size: 13px;
  }
}
