.root {
  min-height: 210px;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  margin: 0 0 25px;
}

.oopsMessage {
  display: block;
  color: var(--color-header-background);
  font-size: 22px;
  width: max-content;
  margin: 65px auto;
  font-weight: bold;
}

.playlistsRow {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 0;
  grid-gap: 35px;
  list-style-type: none;
  overflow-x: auto;

  scrollbar-color: rgba(62, 71, 82, 0.3) #ffffff;
  scrollbar-width: thin;

  li {
    margin-bottom: 15px;
  }

  &::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background: #ffffff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(62, 71, 82, 0.3);
    border-radius: 10px;
  }
}
