.main{
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
  max-width: 1606px;
  width: 100%;
  margin: 0 auto;
}

.oopsMessage {
  color: var(--color-header-background);
  font-size: 22px;
  margin: 250px auto;
  font-weight: bold;
}
