.header {
  display: flex;
  min-height: 80px;
  background-color: var(--color-header-background);
}

.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1606px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 125px;
  list-style: none;
}

.liNavigation {
  margin-right: 50px;
}

.link {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  color: #fff;
  text-decoration: none;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.notification {
  width: 23px;
  height: 23px;
  margin-left: 42px;
}

.profile {
  margin-left: 40px;
  position: relative;
}

.usersButtonWrapper {
  height: 40px;
  width: 40px;

  padding: 0;

  border: none;
  background-color: transparent;

  .imageWrapper {
    border-radius: 50%;
    cursor: pointer;
  }
}

.signIn {
  margin-left: auto;
}

.signInText {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.dropDown {
  position: relative;
}

.dropDownList {
  background-color: var(--color-header-background);
  padding: 5px 10px;
  width: 160px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -60px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0px 5px 10px var(--color-primary-dark);
  list-style: none;
}

.dropDownArrow {
  background-color: var(--color-header-background);
  width: 20px;
  height: 20px;
  top: -5px;
  left: 12px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 0px 5px 10px var(--color-primary-dark);
}

.dropDownListElement {
  background-color: var(--color-header-background);
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.dropDownListElement:hover {
  filter: brightness(1.2);
}

// Media
@media screen and (max-width: 991px) {
  .burgerMenu {
    width: 30px;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 3px;
      margin: 5px 0;
      background-color: var(--color-primary-light);
      transition: all 0.3s ease;
    }
    &.active{
      span:nth-child(1){
        transform: rotate(45deg) translate(2px, 11px);
        margin-left: 3px;
      }
      span:nth-child(2){
        transform: scale(0);
      }
      span:nth-child(3){
        transform: rotate(-45deg) translate(0, -10px);
        margin-left: 3px;
      }
    }
  }

  .userInfo {
    padding-right: 30px;
  }

  .userInfo > *:first-child{
    display: none;
  }

  .navigation {
    opacity: 0;
    transform: scale(0) translateY(100%);
    position: absolute;
    flex-direction: column;
    min-width: 200px;
    top: 85%;
    right: 30px;
    margin: 0;
    background-color: var(--color-header-background);
    color: var(--color-primary-light);
    border-radius: 5px;
    box-shadow: 0px 3px 5px var(--color-primary-dark);
    z-index: 10;
    transition: translateY 0.5s ease, opacity 0.8s ease;

    &.active {
      opacity: 1;
      transform: scale(1) translateY(0);
    }

    .liNavigation {
      margin: 0;
      .link {
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .userInfo {
    padding-right: 15px;
  }
}
