.header {
  display: flex;
  min-height: 80px;
  background-color: var(--color-header-background);
  z-index: var(--z-index--level-two);
}

.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1606px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: 125px;
  list-style: none;
}

.navigationItem {
  margin-right: 50px;
}

.link {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  color: #fff;
  text-decoration: none;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.notification {
  width: 23px;
  height: 23px;
  margin-left: 42px;
}

.profile {
  padding: 0 40px;
  position: relative;
}

.profileBtn {
  height: 40px;
  width: 40px;

  padding: 0;

  border: none;
  background-color: transparent;

  .imageWrapper {
    border-radius: 50%;
    cursor: pointer;
  }
}

.signIn {
  margin-left: auto;
}

.signInText {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.dropDown {
  width: 170px;

  position: absolute;

  transform: translate(-50%, 20px);
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:before {
    content: '';

    width: 20px;
    height: 20px;
    display: block;

    position: absolute;
    top: 0;
    left: 50%;

    background-color: var(--color-header-background);
    box-shadow: 0px 5px 10px var(--color-primary-dark);
    transform-origin: center center;
    transform: translateX(-50%) rotate(45deg);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }
}

.dropDownList {
  width: 100%;
  padding: 5px 10px;
  margin: 0;

  position: absolute;
  left: -25px;
  top: 10px;

  background-color: var(--color-header-background);
  border-radius: 5px;
  box-shadow: 0px 5px 10px var(--color-primary-dark);

  text-align: center;
  list-style: none;
  z-index: var(--z-index--level-four);
}

.dropDownListItem {
  padding: 5px 0;

  .link {
    color: #fff;
    background-color: var(--color-header-background);
    border-radius: 5px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

// Media
@media screen and (max-width: 991px) {
  .burgerMenu {
    width: 25px;
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 3px;
      margin: 5px 0;
      background-color: var(--color-primary-light);
      transition: all 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 11px);
        margin-left: 3px;
      }

      span:nth-child(2) {
        transform: scale(0);
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(0, -10px);
        margin-left: 3px;
      }
    }
  }

  .dropDownList {
    left: 0;
  }

  .userInfo {
    padding-right: 30px;
  }

  .userInfo > *:first-child {
    display: none;
  }

  .navigation {
    min-width: 170px;
    margin: 0;
    padding: 5px 10px;
    flex-direction: column;

    position: absolute;
    top: calc(100% + 8px);
    right: 10px;

    transform: translateY(20px);
    font-weight: normal;
    font-size: 14px;
    color: var(--color-primary-light);

    opacity: 0;
    visibility: hidden;
    z-index: var(--z-index--level-four);

    border-radius: 5px;
    box-shadow: 0px 5px 10px var(--color-primary-dark);
    background-color: var(--color-header-background);
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .navigationItem {
      margin: 0;
      padding: 5px 0;

      .link {
        color: #fff;
        background-color: var(--color-header-background);
        border-radius: 5px;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .userInfo {
    padding-right: 15px;
  }
}
