.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #1e2c96;
  text-decoration: none;
}

.noAuth {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
