.defaultImage {
  width: 100%;
  height: 100%;

  background-color: #3e4752;
  font-weight: bold;
  color: #fff;

  position: relative;
  cursor: default;
  z-index: 10;

  & span {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    cursor: inherit;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}
