.signUpPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/img/auth-background.jpg');
  background-size: cover;
  background-position: center;
}

.form {
  background-color: #eff0f7;
  border-radius: 5px;
  padding: 60px;
  min-width: 480px;
}

.formLogo {
  margin-bottom: 45px;
  width: 140px;
  height: 50px;
}

.formTitle {
  margin: 0 0 10px;
  color: var(--color-button-background);
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.formSubtitle {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  border: none;
}

// TODO: remove after input component will be done
.formRow {
  position: relative;

  label {
    display: flex;
    flex-direction: column;
  }
}
