.signUpPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/img/auth-background.jpg');
  background-size: cover;
  background-position: center;
}

.form {
  background-color: #eff0f7;
  border-radius: 5px;
  padding: 20px;
  width: 325px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  padding: 0;
}

.formRow {
  position: relative;

  h3 {
    color: var(--color-button-background);
  }

  label {
    display: flex;
    flex-direction: column;
  }
}
