.homePage {
  margin: 37px 16vh 12vh 16vh;
  background-color: var(--color-primary-light);
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2fr 3.1fr;
  grid-template-areas: "search" "filter" "podcasts";

  .searchBlock {
    grid-area: search;
  }

  .filterBlock {
    grid-area: filter;
    margin-top: 30px;
    ul {
      columns: 3;
    }

    ul li {
      list-style-type: none;
      margin: 22px 0 0 -35px;
    }

    ul li:first-child {
      margin-top: 0;
    }

    .filterButton {
      display: inline-block;
      height: 30px;
      width: 110px;
      background-color: var(--color-primary-ligth);
      border: none;
      text-align: left;
      background-image: url("../../assets/img/filter-icon.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 11px;
      font-weight: 700;
      color: var(--color-primary-dark);
      cursor: pointer;

      &:hover {
        color: rgb(0, 66, 149);
      }
    }

    .filterDialog {
      position: absolute;
      opacity: 1;
      width: 575px;
      height: 417px;
      background-color: #ffffff;
      border-radius: 2px;
      z-index: 999;
      padding: 0 32px 32px 32px;
      left: 25vh;

      .titleBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-primary-dark);
        border-bottom: 1px solid rgba(53, 53, 53, 0.1);
        height: 60px;
      }

      .filter {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 135%;
      }

      .clear {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 135%;
        color: rgba(53, 53, 53, 0.5);
      }

      .filtersBlock {
        height: 265px;
        margin: 20px 0 20px 0;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 5px;
          background-color: #f9f9fd;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--color-header-background);
        }
      }

      .buttonsBlock {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .cancelButton {
          margin-left: 15px;
        }
      }
    }
  }

  .podcastsBlock {
    grid-area: podcasts;
    padding: 15px 0 25px 0;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: flex-start;
    grid-gap: 17px;

    .podcast {
      margin-top: 20px;
      position: relative;
      width: 195px;
      height: 260px;
      cursor: pointer;

      .layer {
        position: absolute;
        margin: 10px 0 0 10px;
        width: 175px;
        height: 175px;
        border-radius: 5px;
        outline: 10px solid rgba(134, 134, 134, 0.55);

        &:hover {
          outline: 10px solid rgba(134, 134, 134, 0.71);
        }
      }

      .imageBlock img {
        width: 195px;
        height: 195px;
      }

      .albumTitle {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre-wrap;
        min-width: 195px;
        max-width: 195px;
        height: 40px;
        margin-top: 10px;
      }

      .albumTitle span {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        font-style: normal;
        color: var(--color-primary-dark);
      }

      .singerName {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 195px;
        max-width: 195px;
      }

      .singerName span {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
