.wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  font-size: 12px;
}

.avatarWrapper {
  margin-right: 15px;
  border-radius: 50%;
  min-width: 40px;
  cursor: pointer;
}

.intro {
  max-width: 70%;
  p {
    margin: 0;
  }
}

.userName {
  display: flex;
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
  a {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    color: rgba(53, 53, 53, 0.3);
  }
}

.text {
  font-weight: 500;
}

.date {
  width: 150px;
  text-align: right;
  margin-left: auto;
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
}

.commentAtButton{
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.commentAtButton:hover{
  color: var(--color-link-active);
}

.link {
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: var(--color-link-active);
}
