.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  font-size: 12px;
}

.avatarWrapper {
  margin-right: 15px;
  border-radius: 50%;
  min-width: 40px;
  cursor: pointer;
}

.intro {
  max-width: 70%;
  p {
    margin: 0;
  }
}

.userName {
  display: flex;
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
  a {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    color: rgba(53, 53, 53, 0.3);
  }
}

.text {
  font-weight: 500;
}

.date {
  width: 150px;
  text-align: right;
  margin-left: auto;
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
}

.commentAtButton{
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.commentAtButton:hover{
  color: var(--color-link-active);
}

.btnsWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 10;
  top: 20px;
  width: 60px;
  height: 15px;

  .btnLikeWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .likeButton{
      margin-right: 5px;
      flex: 1;
      width: 16px;
      height: 16px;
      background: url('../../../assets/img/comment/heart-regular.svg') center center / cover;
      border: none;
      cursor: pointer;

      .likesCount{
        margin-left: 10px;
      }
    }
    .likeButtonField{
      background: url('../../../assets/img/comment/heart-solid.svg');
    }
  }
}

.deleteButton{
  width: 14px;
  height: 14px;
  background: url('../../../assets/img/trash-bucket.svg') center center / cover;
  border: none;
  cursor: pointer;

  margin-left: 10px;
}


.link {
  color: rgba(53, 53, 53, 0.5);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: var(--color-link-active);
}
