.commentWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 14px;

  .deleteButton {
    display: none;
    width: 23px;
    height: 23px;
    margin-right: 19px;
    background: url('../../../assets/img/comment/trash-bucket.svg') center
      center / cover;
    border: none;
    cursor: pointer;
  }

  &:hover .deleteButton {
    display: block;
  }

  & + & {
    margin-top: 22px;
  }

  .commentInfo {
    display: flex;
    align-items: flex-start;
  }

  .avatarLink {
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  .avatarWrapper {
    cursor: pointer;
    min-width: 40px;
  }

  .content {
    max-width: 860px;
    margin-right: 15px;
    color: var(--color-primary-dark);
  }

  .contentTop {
    display: flex;
    margin-bottom: 7px;
    line-height: 16px;
  }

  .contentUser {
    margin-right: 12px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--color-link-active);
    }
  }

  .contentTimestamp {
    margin-right: 12px;
    span {
      color: #929396;
    }
    .commentAtButton {
      color: #ff9643;
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }

  .contentDate {
    color: #929396;
  }

  .contentText {
    line-height: 18px;
    hyphens: auto;
    word-break: break-word;
    overflow: hidden;
  }

  .btnsWrapper {
    display: flex;
    margin-left: auto;

    .btnLikeWrapper {
      position: relative;
      display: flex;

      .likeButton {
        width: 23px;
        height: 23px;
        margin-right: 10px;
        background: url('../../../assets/img/comment/heart-regular.svg') center
          center / cover;
        border: none;
        cursor: pointer;
      }

      .likeButtonField {
        background: url('../../../assets/img/comment/heart-solid.svg');
      }

      .likeButtonOwner {
        cursor: auto;
      }

      .likesCount {
        position: absolute;
        left: 30px;
        top: 1px;
      }
    }
  }
}

// Media
@media screen and (max-width: 1024px) {
  .commentWrapper {
    .btnsWrapper .deleteButton {
      display: block;
    }
  }
}

@media screen and (max-width: 420px) {
  .commentWrapper {
    flex-wrap: wrap;

    .commentInfo {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
