.timeNavigation {
  margin-top: 25px;
  padding: 20px 25px 20px;

  background-color: #fafafa;
  border-radius: 7px;

  .title {
    font-weight: 600;
  }

  .navigationList {
    padding: 0;
    list-style: none;
  }
}
