.timeNavigation {
  .title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .addButton {
    align-self: flex-start;
  }

  .inputList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
