.podcast {
  display: flex;
  flex-direction: column;
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.forms {
  display: flex;
  gap: 15px;
}

.formLeft {
  flex-grow: 1;
}

.formRight {
  width: 250px;
}
