.shownoteInputs {
  margin-bottom: 25px;

  & button {
    padding: 4px 10px;
    font-weight: 600;
  }
}

.errorWrapper {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-button-background);
  margin-bottom: 7px;
}
