.shownoteInputs {
  .inputRow {
    display: flex;
    align-items: flex-start;

    label {
      &:first-of-type {
        max-width: 150px;

        input[type="number"] {
          padding-right: 20px;
        }
      }

      &:last-of-type {
        flex-grow: 1;
        margin-left: 15px;
      }
    }
  }

  & button {
    margin: 5px 0 0 15px;
    padding: 10px;
    font-weight: 600;
  }
}

.errorWrapper {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-button-background);
}
