.episode{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1788px;
  margin: 0 auto;

  .episodeHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1654px;
    height: 446px;
    padding: 15px 20px;
    background-color: #fff;

    .description{
      flex: .6;
      h3{
        margin-top: 10px;
        font-size: 40px;
        font-weight: bold;
      }
      h5{
        margin: 0;
        font-size: 18px;
        font-weight: medium;
        color: #ff7cc2;
      }
      p{
        font-size: 18px;
      }
    }
    .logo{
      flex: .4;
      img{
        width: 280px;
        height: 280px;
        border: 2px solid #e9e9e9;
        margin: auto;
      }
    }
  }
}
