.searchBlock {

  input {
    padding: 18px 38px;
  }

  .searchIconWrapper {
    width: 55px;
    height: 40px;
    padding: 3px 15px 0 0;
    position: absolute;
    right: 30px;
    z-index: 999;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
