.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
}
.loaderImage {
  animation: loaderRotate 2s infinite linear;
}
@keyframes loaderRotate {
  100% {
    transform: rotate(360deg);
  }
}
