.authPage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-image: url('../../assets/img/auth-background.jpg');
  background-size: cover;
  background-position: center;
}

.formWrapper {
  padding: 50px;
  margin-bottom: 0;
  max-width: 480px;
  background-color: var(--color-primary-light);
  border-radius: 5px;
}

.formLogo {
  margin-bottom: 45px;
}

@media screen and (max-width: 550px) {
  .authPage {
    padding: 20px;
  }

  .formWrapper {
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 350px) {
  .authPage {
    padding: 0px;
  }
}
