.form {
  padding: 15px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
  border: none;
}

.shownotesTitle {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;

  & button {
    margin-left: 16px;
    padding: 2px 10px;
    font-weight: 600;
  }
}

.shownotesList {
  margin: 0;
  list-style: none;

  & button {
    padding: 4px 10px;
    font-weight: 600;
  }

  &Item {
    margin-bottom: 25px;
  }
}

.errorWrapper {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-button-background);
  margin-bottom: 7px;
}
