.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  .image {
    width: 100% !important;
  }

  .buttonRow {
    display: flex;
    flex-grow: 1;
    margin-top: 30px;

    button {
      padding: 8px 8px;
      width: 150px;
      text-align: center;
    }

    button + button {
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 360px) {
  .fieldset {
    .buttonRow {
      flex-direction: column;

      button {
        width: 100%;
      }

      button + button {
        margin: 10px 0px;
      }
    }
  }
}
