.inputWrapper{
  position: relative;
  max-width: 716px;
  width: 100%;
  cursor: pointer;

  .cornerRight {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
  
    .label {
        position: absolute;
        left: -18px;
        top: 36px;
        transform: rotate(45deg);
        z-index: 98;
        display: block;
        width: 225px;
        padding: 5px 0;
        font-size: 12px;
        font-weight: 500;
        background-color: var(--color-button-background);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
  }

  &::before{
    content: '';
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 54px;
    background: rgba(25, 34, 47, 0.7);
    border-radius: 0 0 5px 5px;
  }

  &::after{
    content: '';
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    width: 24px;
    height: 20px;
    background: url('../../../assets/img/icon-camera.svg');
    margin: auto;
  }

  .imgInput{
    cursor: pointer;
  }
}

.errorWrapper{
  color: var(--color-button-background);
  min-height: 18px;
  margin-top: 5px;
}
