.root {
  width: 100%;
  max-width: 1606px;
  margin: 0 auto;
  padding: 30px 15px;
}

.episodeWrapper {
  position: relative;
  padding: 75px 75px 20px 75px;
  min-height: 200px;
  background: linear-gradient(
    0deg,
    rgba(25, 34, 47, 0.4),
    rgba(25, 34, 47, 0.4)
  );
  border-radius: 3px;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;

  left: 0;
  top: 0;

  & div {
    background-color: #989ea6;
  }

  & span {
    left: 80%;
    top: calc((100% - 89px) / 2);

    font-size: 120px;
    color: #3e4752;
    opacity: 0.1;
  }
}

.editLink {
  display: block;
  position: absolute;
  right: 85px;
  top: 35px;
  width: 25px;
  height: 25px;
  background: url('../../assets/img/user-profile/edit.svg') center center /
    cover;
}

.deleteButton {
  position: absolute;
  right: 35px;
  top: 35px;
  width: 25px;
  height: 25px;
  background: url('../../assets/img/trash-bucket.svg') center center / cover;
  border: none;
  cursor: pointer;
}

.favouriteButton {
  position: absolute;
  right: 35px;
  top: 35px;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: var(--color-button-background);
  mask: url('../../assets/img/comment/heart-regular.svg') no-repeat 50% 50%;
  mask-size: 25px;
}

.favouriteActive {
  mask: url('../../assets/img/comment/heart-solid.svg') no-repeat 50% 50%;
  mask-size: 25px;
}

.favoriteMaster {
  right: 85px;
  top: 35px;
}

.link {
  color: var(--color-button-background);
  text-decoration: none;
  max-width: 80%;
  display: inline-block;
}

.btnStartLive {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 75px;
  right: 75px;
  padding: 12px 22px;
  z-index: var(--z-index--level-two);
}

.descriptionWrapper {
  position: relative;
  width: 724px;
  min-height: 200px;
  margin-bottom: 45px;
  padding: 35px;
  border-radius: 3px;
  background: linear-gradient(
    0deg,
    rgba(25, 34, 47, 0.7),
    rgba(25, 34, 47, 0.7)
  );
  color: var(--color-primary-light);
}

.title {
  font-size: 40px;
  margin: 0;
  line-height: 1.25;
  max-width: 80%;
}

.description {
  font-size: 14px;
  margin: 20px 0;
  line-height: 1.25;
  letter-spacing: 1px;
  width: 450px;
}

.episodeInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  .infoBlock {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

    .infoBlockValue {
      margin-inline-start: 0;
    }

    .infoBlockValue:first-letter {
      text-transform: uppercase;
    }

    .infoBlockTitle {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      padding-left: 25px;
    }
  }
}

.type {
  background: url('../../assets/img/star.svg') no-repeat left center / 15px;
}
.status {
  background: url('../../assets/img/fire.svg') no-repeat left center / 15px;
}

.shownotesWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

h3 {
  font-size: 24px;
  color: white;
  margin: 0;
}

.logoWrapper {
  flex-grow: 0.4;
}

.playerWrapper {
  margin-top: 30px;
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.commentsWrapper {
  padding: 30px 0;
}

.commentsCounter {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.placeholder {
  border-top: 1px solid rgba(53, 53, 53, 0.3);
  margin-top: 15px;
  padding-top: 15px;
}

.playlistTrigger {
  padding: 0;
}

// Media
@media screen and (max-width: 1024px) {
  .episodeWrapper {
    padding: 40px 40px 20px 40px;
  }
}

@media screen and (max-width: 991px) {
  .episodeWrapper {
    padding: 40px 40px 20px 40px;
  }

  .btnStartLive {
    top: auto;
    left: 60px;
    right: auto;
    bottom: 80px;
  }

  .btnWithPlayer {
    bottom: 160px;
  }

  .descriptionWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
  }
}

@media screen and (max-width: 768px) {
  .episodeWrapper {
    padding: 30px 30px 20px 30px;
  }

  .btnStartLive {
    left: 50px;
  }

  .btnWithPlayer {
    bottom: 230px;
  }

  .deleteButton, .favouriteButton {
    right: 20px;
  }

  .editLink, .favoriteMaster {
    right: 55px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 25px;
  }

  .description {
    width: auto;
  }

  .episodeInfo {
    .infoBlock {
      margin-right: 20px;
      .infoBlockTitle {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    font-size: 18px;
    color: white;
    margin: 0;
  }

  .commentsWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .episodeWrapper {
    padding: 20px;
  }

  .link, .title {
    width: 100%;
  }

  .deleteButton, .favouriteButton {
    top: auto;
    bottom: 35px;
  }

  .editLink {
    top: auto;
    bottom: 35px;
  }

  .btnStartLive {
    left: 40px;
    bottom: 70px;
  }

  .btnWithPlayer {
    bottom: 230px;
  }
}
