.root {
  padding: 30px;
  width: 100%;
  max-width: 1577px;
  margin: 0 auto;
}

.episodeWrapper {
  position: relative;
  padding: 75px 75px 20px 75px;
  min-height: 375px;
  background: linear-gradient(
    0deg,
    rgba(25, 34, 47, 0.4),
    rgba(25, 34, 47, 0.4)
  );
  border-radius: 3px;
}

.imageWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  & div {
    background-color: #989ea6;
  }

  & span {
    left: 80%;
    top: calc((100% - 89px) / 2);
    font-size: 120px;
    color: #3e4752;
    opacity: 0.1;
  }
}

.editLink {
  display: block;
  position: absolute;
  right: 90px;
  top: 45px;
  width: 25px;
  height: 25px;
  background: url('../../assets/img/user-profile/edit.svg') center center /
    cover;
}

.deleteButton {
  position: absolute;
  right: 45px;
  top: 45px;
  width: 25px;
  height: 25px;
  background: url('../../assets/img/trash-bucket.svg') center center / cover;
  border: none;
  cursor: pointer;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.btnStartLive {
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 65px;
  right: 75px;
  padding: 12px 22px;
}

.descriptionWrapper {
  position: relative;
  width: 45%;
  min-width: 490px;
  margin-bottom: 45px;
  padding: 35px;
  border-radius: 3px;
  background: linear-gradient(
    0deg,
    rgba(25, 34, 47, 0.7),
    rgba(25, 34, 47, 0.7)
  );
  color: var(--color-primary-light);
}

.title {
  margin: 0 0 20px 0;
  font-size: 40px;
}

.description {
  font-size: 14px;
  margin: 0 0 35px 0;
  line-height: 1.25;
  letter-spacing: 1px;
  width: 450px;
}

.status {
  font-size: 12px;
  margin: 15px 0;
}

.shownotesWrapper {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  color: white;
  margin: 0;
}

.logoWrapper {
  flex-grow: 0.4;
}

.wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &:before {
    background-image: url('../../assets/img/corner.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 0 0;
    content: '';
    pointer-events: none;
    position: absolute;
    margin: 1px 0 36px 1px;
    padding-bottom: 36px;
    width: 100%;
    transition: transform 0.2s ease, background-size 0.5s 0.15s ease;
    z-index: 20;
    height: 280px;
  }

  .imageWrapper {
    margin: 0 0 10px;
    border-radius: 5px;
    outline: 10px solid rgba(134, 134, 134, 0.55);
    outline-offset: -10px;
    transition: transform 0.2s ease;
    height: 280px;

    .episodeImage {
      height: 100%;
      width: 280px;
      object-fit: cover;
    }
  }

  &:hover {
    &:before {
      background-size: 36px 36px;
      transform: translateY(-8px);
    }

    .imageWrapper {
      outline: 10px solid rgba(134, 134, 134, 0.71);
      transform: translateY(-8px);
    }
  }
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.commentsWrapper {
  width: 60%;
  margin-right: auto;
  padding: 30px 0;
}

.commentsCounter {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.placeholder {
  border-top: 1px solid rgba(53, 53, 53, 0.3);
  margin-top: 15px;
  padding-top: 15px;
}
