.root {
  max-width: 1515px;
  width: 100%;

  margin: 0 auto;
  padding: 30px;

  flex-grow: 1;

  .episode {
    display: flex;
    padding: 30px;
  }
}

.episodeWrapper {
  position: relative;
}

.imageWrapper {
  position: absolute;

  left: 0;
  top: 0;

  z-index: -1;

  & div {
    background-color: #989ea6;
  }

  & span {
    left: 80%;
    top: calc((100% - 89px) / 2);

    font-size: 120px;
    color: #3e4752;
    opacity: 0.1;
  }
}

.descriptionWrapper {
  flex-grow: 1;

  .btnStartLive {
    width: 200px;
  }
}

.title {
  margin: 0;
  color: var(--color-button-background);
}

.description {
  font-size: 18px;
  margin: 0;
}

.type {
  font-size: 16px;
  margin: 15px 0;
}

.notFound {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.commentsWrapper {
  max-width: 1515px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
