.infoWrapper {
  background-color: #fff;
}

.tableWrapper {
  background-color: var(--color-primary-light);
  min-height: 300px;
  tbody tr {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #dcdde7;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    td {
      height: 40px;
    }
    td:first-child {
      &:hover {
        color: transparent;
        background-color: var(--color-button-background);
        mask: url('../../assets/img/player/play.svg') no-repeat 15px 50%;
        mask-size: 7px;
      }
    }
  }
}

.container {
  max-width: 1606px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}

.infoContainer {
  display: flex;
  gap: 25px;
  padding-top: 45px;
  padding-bottom: 30px;
  position: relative;
}

.playlistImage {
  position: relative;
  flex-shrink: 0;
  width: 231px;
  height: 231px;
}

.imageWrapper {
  & div {
    background-color: #989ea6;
  }

  & span {
    font-size: 120px;
    color: #3e4752;
    opacity: 0.1;
  }
}

.descriptionWrapper {
  width: 60%;
  max-width: 831px;
}

.title {
  margin: 0;
  font-size: 40px;
  line-height: 1.25;
  hyphens: auto;
  word-break: break-word;
  overflow: hidden;
}

.description {
  font-size: 14px;
  margin: 20px 0;
  line-height: 1.25;
  letter-spacing: 1px;
  hyphens: auto;
  word-break: break-word;
  overflow: hidden;
}

.buttonsGroup {
  display: flex;
  margin-left: auto;
  .playlistButton {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    & + .playlistButton {
      margin-left: 25px;
    }
  }
  .userPlaylistsLink {
    background: url('../../assets/img/user-playlist.svg') center center /
      cover;
  }
  .editLink {
    background: url('../../assets/img/user-profile/edit.svg') center center /
      cover;
  }
  .deleteButton {
    background: url('../../assets/img/trash-bucket.svg') center center / cover;
  }
}

.placeholder {
  font-weight: 600;
  color: var(--color-header-background);
}
.oopsMessage {
  text-align: center;
  margin: auto;
}

.infoList {
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .infoItem {
    list-style-type: none;
    width: 130px;
    margin-right: 45px;
    margin-bottom: 15px;
  }

  .infoName {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 25px;
  }

  .infoInner {
    margin-top: 0;
    line-height: 16px;
    text-decoration: none;
    color: var(--color-primary-dark);
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.host {
  background: url('../../assets/img/user.svg') no-repeat left center / 15px;
}
.status {
  background: url('../../assets/img/fire.svg') no-repeat left center / 15px;
}

// Media
@media screen and (max-width: 768px) {
  .infoContainer {
    flex-wrap: wrap;
  }
  .descriptionWrapper {
    width: 100%;
    order: 2;
  }
  .title {
    margin-bottom: 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .buttonsGroup {
    flex-direction: column;
    .playlistButton {
      & + .playlistButton {
        margin-left: 0;
        margin-top: 25px;
      }
    }
  }
}
