.signInBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/background-auth.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

  .formWrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: var(--color-primary-light);
    padding: 50px 58px;
    border-radius: 7px;

    .logo {
      margin-bottom: 50px;
    }

    .title {
      margin: 0;
      font-size: 24px;
      color: var(--color-button-background);
    }

    .subTitle {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;

      p {
        margin: 0;
        color: var(--color-primary-dark);
      }

    }
  }

  .fieldset{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    padding: 20px 0;
  }
}
