.podcast {
  margin-top: 20px;
  position: relative;
  width: 195px;
  height: 260px;
  cursor: pointer;

  .layer {
    position: absolute;
    margin: 10px 0 0 10px;
    width: 175px;
    height: 175px;
    border-radius: 5px;
    outline: 10px solid rgba(134, 134, 134, 0.55);

    &:hover {
      outline: 10px solid rgba(134, 134, 134, 0.71);
    }
  }

  .imageBlock img {
    width: 195px;
    height: 195px;
  }

  .albumTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    min-width: 195px;
    max-width: 195px;
    height: 40px;
    margin-top: 10px;
  }

  .albumTitle span {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    color: var(--color-primary-dark);
  }

  .singerName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 195px;
    max-width: 195px;
  }

  .singerName span {
    font-weight: 400;
    font-size: 14px;
  }
}
