.wrapper {
  position: relative;

  .imageWrapper {
    margin: 0 0 10px;
    border-radius: 5px;
    outline: 10px solid rgba(134, 134, 134, 0.55);
    outline-offset: -10px;
  }

  &:hover {
    .imageWrapper {
      outline: 10px solid rgba(134, 134, 134, 0.71);
    }
  }
}

.title {
  margin: 0;
}

.link {
  color: var(--color-primary-dark);
  text-decoration: none;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}
