.timelineItem {
  position: absolute;
  bottom: 115px;
  .timelineItemBtn {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    background-color: var(--color-link-active);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .timelineItemContent {
    position: absolute;
    left: -6px;
    bottom: 0;
    display: none;
    color: var(--color-primary-light);
  }
  &:hover {
    .timelineItemContent {
      display: flex;
    }
  }
  .avatarWrapper {
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
  }
}
