.timelineItem {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--color-link-active);

  .timelineItemBtn {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .timelineItemContent {
    position: absolute;
    bottom: 100%;
    display: none;
    color: var(--color-primary-light);
  }

  &:hover {
    .timelineItemContent {
      display: flex;
    }
  }

  .avatarWrapper {
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
  }
}
