.checkboxSignIn {
  span {
    padding-left: 32px;
    font-weight: 300;
    line-height: 16px;
    color: #717477;
  }
}

.checkbox {
  span {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    user-select: none;
    color: var(--color-primary-dark);
    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0;
      top: 1px;
      border: 1px solid var(--color-button-background);
      border-radius: 2px;
    }
  }
  input {
    display: none;
    &:checked + span {
      &::before {
        content: url('./checked.svg');
        background-color: var(--color-button-background);
      }
    }
  }
}
