.checkbox {
  display: inline-block;
  color: var(--color-primary-dark);
  input {
    position: relative;
    appearance: none;
    width: 27px;
    &::before {
      content: '';
      position: absolute;
      right: 7px;
      top: -9px;
      width: 12px;
      height: 13px;
      padding-top: 1px;
      padding-left: 2px;
      border: 1px solid var(--color-button-background);
      border-radius: 2px;
    }
    &:checked {
      &::before {
        content: url('../../../assets/img/checked.svg');
        background-color: var(--color-button-background);
      }
    }
  }
}
