.modal {
    position: relative;
    background-color: var(--color-primary-light);
    padding: 10px;
    border: none;
    min-width: 400px;
    min-height: 400px;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1001;
  }

  .closeBtn {
    padding: 5px 10px;
    background-color: var(--color-button-background);
    color: white;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 2px;
    border: none;
  }
