:root {
  --color-primary-dark: #353535;
  --color-primary-light: #eff0f7;
  --color-header-background: #1e2c96;
  --color-button-background: #f3427f;
  --color-link-active: #ff9643;
  --color-player-slider: #f3427f;
  --color-player-playback-rate: #f3427f;
  --color-player-controls: #fff;
  --color-player-time: #f4f5f8;
  --search-icon: url("../img/search.svg");
}
