:root {
  --color-primary-dark: #353535;
  --color-primary-light: #eff0f7;
  --color-header-background: #1e2c96;
  --color-button-background: #f3427f;
  --color-link-active: #ff9643;
  --search-icon: url("../img/search.svg");
}
